html, body{
	width: 100%;
	height:100%;
	min-width: 320px;
	overflow-x:hidden;
    background-color: #FEFEFE;
}

html, body, h1, h2, h3, h4, p {
    padding: 0;
    margin: 0;
}

@font-face {
	font-family: 'Open Sans';
	src: url('fonts/open_sans/OpenSans-Light.ttf')  format('truetype');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('fonts/open_sans/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
	font-style: normal;
}

.box {
    border: 1px solid #EFEFEF;
    background-color: #FFF;
    border-radius: 3px;
    box-shadow: 1px 1px 12px #BBBBBB;
}

h1, h2, h3, h4, p {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

.content {
    width: 100%;
}

.container {
    width: 100%;
}

.row {
    width: 100%;
    clear: both;
    box-sizing: border-box;
    position: relative;
}

.col {
    box-sizing: border-box;
    padding: 10px;
    display: inline-block;
    float: left;
}

.clear {
    padding: 0;
}

.clear-y {
    padding-top: 0;
    padding-bottom: 0;
}

.clear-x {
    padding-left: 0;
    padding-right: 0;
}

.pt5 {
    padding-top: 5px !important;
}

.pt10 {
    padding-top: 10px !important;
}

.pt20 {
    padding-top: 20px !important;
}

.pb5 {
    padding-bottom: 5px !important;
}

.pb10 {
    padding-bottom: 10px !important;
}

.pb20 {
    padding-bottom: 20px !important;
}

.ph5 {
    padding-left: 5px;
    padding-right: 5px;
}

.ph10 {
    padding-left: 10px;
    padding-right: 10px;
}

.pv5 {
    padding-top: 5px;
    padding-bottom: 5px;
}

.pv10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.mt5 {
    margin-top: 5px !important;
}

.mt10 {
    margin-top: 10px !important;
}

.mt20 {
    margin-top: 20px !important;
}

.mb5 {
    margin-bottom: 5px !important;
}

.mb10 {
    margin-bottom: 10px !important;
}

.mb20 {
    margin-bottom: 20px !important;
}

.mh5 {
    margin-left: 5px;
    margin-right: 5px;
}

.mh10 {
    margin-left: 10px;
    margin-right: 10px;
}

.mv5 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.mv10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.size10{
    width: 10%;
}

.size10-off-set {
    margin-left: 10%;
}

.size15{
    width: 15%;
}

.size15-off-set {
    margin-left: 15%;
}

.size20{
    width: 20%;
}

.size20-off-set {
    margin-left: 20%;
}

.size25{
    width: 25%;
}

.size25-off-set {
    margin-left: 25%;
}

.size30{
    width: 30%;
}

.size30-off-set {
    margin-left: 30%;
}

.size35{
    width: 35%;
}

.size35-off-set {
    margin-left: 35%;
}

.size40{
    width: 40%;
}

.size40-off-set {
    margin-left: 40%;
}

.size45{
    width: 45%;
}

.size45-off-set {
    margin-left: 45%;
}

.size50{
    width: 50%;
}

.size50-off-set {
    margin-left: 50%;
}

.size60{
    width: 60%;
}

.size60-off-set {
    margin-left: 60%;
}

.size65{
    width: 65%;
}

.size65-off-set {
    margin-left: 65%;
}

.size70{
    width: 70%;
}

.size70-off-set {
    margin-left: 70%;
}

.size75{
    width: 75%;
}

.size75-off-set {
    margin-left: 75%;
}

.size80{
    width: 80%;
}

.size80-off-set {
    margin-left: 80%;
}

.size85{
    width: 85%;
}

.size85-off-set {
    margin-left: 85%;
}

.size90{
    width: 90%;
}

.size90-off-set {
    margin-left: 90%;
}

.size95{
    width: 95%;
}

.size95-off-set {
    margin-left: 95%;
}

.size100{
    width: 100%;
}

.size100-off-set {
    margin-left: 100%;
}

.center {
    text-align: center;
    margin: auto;
}

.truncate {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.div-player {
    width: 100%;
    position: relative;
}

.player {
    width: 100%;
    height: 100%;
}

.player-min {
    width: 100%;
    height: 150px;
    background-color: #000;
    position: relative;
}

.player-min-title {
    position: absolute;
    bottom: 0;
    background-color: #EEE;
    width: 100%;
    padding-top: 4px;
    padding-bottom: 4px;
}

.cursor {
    cursor: pointer;
}

.border-bottom {
    border-bottom: 1px solid #CCC;
}

.not-d {
    display: none;
}

.not-m {
    display: table;
}

.div-time {
    height: 100%;
    background-color: red;
}

.prelative {
    position: relative;
}

.pabsolute {
    position: absolute;
}

.div-time-background {
    height: 7px;
    background-color: #CCC;
}

.div-card-next {
    color: #FFF;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    right: 0;
    border-bottom-left-radius: 3px;
    z-index: 9999;
    box-sizing: border-box;
}

@media only screen and (max-width: 1100px) {

    .col {
        padding: 5px;
    }

    .sizeM0-off-set {
        margin-left: 0;
    }

    .sizeM10{
        width: 10%;
    }

    .sizeM10-off-set {
        margin-left: 10%;
    }

    .sizeM15{
        width: 15%;
    }

    .sizeM15-off-set {
        margin-left: 15%;
    }

    .sizeM20{
        width: 20%;
    }

    .sizeM20-off-set {
        margin-left: 20%;
    }

    .sizeM25{
        width: 25%;
    }

    .sizeM25-off-set {
        margin-left: 25%;
    }

    .sizeM30{
        width: 30%;
    }

    .sizeM30-off-set {
        margin-left: 30%;
    }

    .sizeM35{
        width: 35%;
    }

    .sizeM35-off-set {
        margin-left: 35%;
    }

    .sizeM40{
        width: 40%;
    }

    .sizeM40-off-set {
        margin-left: 40%;
    }

    .sizeM45{
        width: 45%;
    }

    .sizeM45-off-set {
        margin-left: 45%;
    }

    .sizeM50{
        width: 50%;
    }

    .sizeM50-off-set {
        margin-left: 50%;
    }

    .sizeM60{
        width: 60%;
    }

    .sizeM60-off-set {
        margin-left: 60%;
    }

    .sizeM65{
        width: 65%;
    }

    .sizeM65-off-set {
        margin-left: 65%;
    }

    .sizeM70{
        width: 70%;
    }

    .sizeM70-off-set {
        margin-left: 70%;
    }

    .sizeM75{
        width: 75%;
    }

    .sizeM75-off-set {
        margin-left: 75%;
    }

    .sizeM80{
        width: 80%;
    }

    .sizeM80-off-set {
        margin-left: 80%;
    }

    .sizeM85{
        width: 85%;
    }

    .sizeM85-off-set {
        margin-left: 85%;
    }

    .sizeM90{
        width: 90%;
    }

    .sizeM90-off-set {
        margin-left: 90%;
    }

    .sizeM95{
        width: 95%;
    }

    .sizeM95-off-set {
        margin-left: 95%;
    }

    .sizeM100{
        width: 100%;
    }

    .size100-off-set {
        margin-left: 100%;
    }

    .clear-m {
        padding: 0;
    }

    .clear-m-y {
        padding-top: 0;
        padding-bottom: 0;
    }

    .clear-m-x {
        padding-left: 0;
        padding-right: 0;
    }

    .not-m {
        display: none;
    }

    .not-d {
        display: table;
    }

    .div-card-next {
        width: 100%;
        border-bottom-left-radius: 0;
    }

    .player-min {
        height: 200px;
    }

}
